.form-group{
    .preview-image{
        margin-top: 1rem;
        height: 200px;
        width: 100%;
        border: 1px solid #ddd;
        background: center center no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}